.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;

}



.box {
    border: 2px solid red;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    
}
.box img {
    border: 2px solid red;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    
}



.bi-whatsapp{
    cursor: pointer;
    padding: 10px;
    color: green;
}

.bi-whatsapp:hover{
    color: blue;
}

.bi-pinterest{
    cursor: pointer;
    padding: 80px;
    color: brown;

}
.bi-pinterest:hover{
    color: black;
}

