.tabs {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: space-between;
}
.search_bar {
  display: flex;
  margin-top: 0px;
  padding-right: 10px;
  justify-content: space-around;
}
.eng {
  display: flex;
  /* gap: 180px; */
  margin-top: 15px;
  justify-content: space-around;
  padding-right: 20px;
}
.bod {
  margin-left: 50px;
  display: flex;
  list-style: none;
  gap: 60px;
  justify-content: space-evenly;
  margin-left: 70px;
  font-size: large;
}
.bg {
  background-image: url(https://htmlcolorcodes.com/assets/images/colors/powder-blue-color-solid-background-1920x1080.png);
  background-size: cover;
  display: flex;
}
.text {
  padding-left: 120px;
  padding-top: 50px;
  font-size: 300%;
}
.text2 {
  padding-left: 120px;
  padding-top: 0px;
  font-size: 100%;
}
.main {
  background-image: url(https://htmlcolorcodes.com/assets/images/colors/powder-blue-color-solid-background-1920x1080.png);
  height: 500px;
  /* background-size: cover; */
  display: flex;
  justify-content: space-evenly;
}
.box {
  text-align: center;
  border: 2px solid black;
  height: 400px;
  width: 400px;
  margin-right: 30px;
  margin-top: 20px;
}
.foot {
  background-color: rgb(63, 128, 188);
  height: 200px;
}
.list {
  display: flex;
  color: blanchedalmond;
  gap: 20px;
}
